* {
  padding: 0;
  margin: 0;
}

.image-section {
  width: 200px;
  height: 100px;
}

.image-det {
  width: 90%;
  height: 100px;
}

.image-detail {
  width: 100%;
  height: 200px;
}

.nav-bar-section {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.general-section {
  margin-top: 100px;
}

.symbol-paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #555;
}

.visit-us {
  font-size: 13.5px;
  color: #777;
  text-transform: lowercase;
  font-weight: bold;
}

.image-section-details {
  width: 300px;
}

.card-section {
  background-color: #d6d6d6;
  border-radius: 3px;
  margin-bottom: 10px;
}

.text-underline {
  color: #666;
  font-weight: 700;
}
